/*
Algumas informações úteis e dicas:
  - Fontes disponíveis:
    font-family: 'Roboto', sans-serif;
    font-family: 'Permanent Marker', cursive;
  - Cores:
    Tons de amarelo:
      #e4fc2b
      #e0d426
      #f7d736
      #e0af26
      #fcb02b
    Tons de cinza:
      #2c2c2c
      #4c4c4c
    Cores dos cards:
      #ead3a7
      #9de0f5
      #ef89ba
      #fae890
      #abe9c1
  - Sombra: https://codepen.io/sdthornton/pen/wBZdXq
 */

html,
body {
  font-family: "Roboto", sans-serif;
}

.appbar {
  display : flex;
  background-color: #f7d736;
  padding-top : 0.4em;
  padding-bottom : 0.4em;
  padding-left: 0.5em;
  align-items: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  text-indent: 0.5em;
}

.logo {
  display : flex;
  width: 4em;
}

.form-card { 
  text-align: center;
  position: relative;
  display : flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  margin: 1em;
  /* background-color: white; */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  border-radius: 0.5em;
  width: 40%;
  height: 10em;;

}

.card-container{
  display : flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}



.card { 
  position: relative;
  display : flex;
  flex-direction: column;
  align-items: center;
  padding : 0.5em;
  margin : 0.5em;
  /* justify-content: center; */
  font-family: 'Permanent Marker', cursive;
  /* padding: 0.2em;
  margin: 0.2em; */
  /* font-size: 1em; */
  background-color: #f7d736;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  border-radius: 0.5em;
  min-height: 8em;
  /* width: 19%; */
  width: 15em;
  /* width: 20%; */
  /* padding : 0.5em; */
}

.card-content { 
  padding-top:1em;
  margin-top : 1em;
  justify-content: center;
}

/* 
#ead3a7
#9de0f5
#ef89ba
#fae890
#abe9c1 */

.card-color-1{
  background-color: #ead3a7;
}

.card-color-2{
  background-color: #9de0f5;
}

.card-color-3{
  background-color: #ef89ba;
}

.card-color-4{
  background-color: #fae890;
}

.card-color-5{
  background-color: #abe9c1;
}

.card-rotation-1{
  transform: rotate(-5deg);
}

.card-rotation-2{
  transform: rotate(-4deg);
}

.card-rotation-3{
  transform: rotate(-3deg);
}

.card-rotation-4{
  transform: rotate(-2deg);
}

.card-rotation-5{
  transform: rotate(-1deg);
}

.card-rotation-6{
  transform: rotate(0deg);
}

.card-rotation-7{
  transform: rotate(1deg);
}

.card-rotation-8{
  transform: rotate(2deg);
}

.card-rotation-9{
  transform: rotate(3deg);
}

.card-rotation-10{
  transform: rotate(4deg);
}

.card-rotation-11{
  transform: rotate(5deg);
}





.card-title {
  position: relative;
  display : flex;
  font-size: 1.5em;
  /* margin-bottom: 0.5em; */
  /* padding : 0.23em; */
  width: 100%;
  resize: none;
  text-align: left;
  /* border-radius: 0.5em; */
  /* border-color : black; */
}

.container {
  position: relative;
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-card-title {
  border : none;
  position: relative;
  display : flex;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  padding : 0.23em;
  width: 100%;
  resize: none;
  text-align: left;
  font-style: bold;
  /* border-radius: 0.5em; */
}

.autoresize { 
  position: relative;
  /* flex-direction: column; */
  align-items: center;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  /* text-indent: 0.5em; */
  display : flex;
  font-size: 1.2em;
  width: 100%;
  size: 1em;
  font-size:bold;
  /* height: 2em; */
  /* padding: 0.5em; */
  /* margin-bottom: 1em; */
  /* border: 0.1em solid #4c4c4c; */
  
  /* border-radius: 0.5em; */
  /* font-size: 1em; */
  /* resize: none; */
  border-color : white;

}


/* Você pode usar o CSS comentado abaixo, se ajudar */
/* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
.btn {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin: 1em auto;
  overflow: hidden;
  width: 100%;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #f7d736;

  transition: background-color 0.3s;
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}
